<!DOCTYPE html>
<html>
<head>
  <title>BusinessPool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Business Pool</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Dashboard</a></li>
            <li> <%= link_to "Help", pages_help_path %></li>
            <li><%= render 'users/edit_profile' %></li>
            <li><%= render 'devise/menu/registration_items' %></li>
  			<li><%= render 'devise/menu/login_items' %></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div> 
    <% if user_signed_in? %>
	<div class="col-sm-3 col-md-2 sidebar">
	          <h4>Everyones stuff</h4>
	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">Overview</a></li>
	            <li><a href="#">Reports</a></li>
	            <li><a href="#">Analytics</a></li>
	            <li><a href="#">Export</a></li>
	          </ul>  
	          <h4>My stuff</h4>
	          <ul class="nav nav-sidebar">
	            <li><a href="">Nav item</a></li>
	            <li><a href="">Nav item again</a></li>
	            <li><a href="">One more nav</a></li>
	            <li><a href="">Another nav item</a></li>
	            <li><a href="">More navigation</a></li>
	          </ul>
	         
	        </div> 
	 	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 	 <%= yield %>
	 	</div>  
	 	   <% else %>
	 <div class="col-sm-3 col-md-2 sidebar">
	 		  <h4>Everyones stuff</h4>
	          <ul class="nav nav-sidebar">
	            <li class="active"><a href="#">Overview</a></li>
	            <li><a href="#">Reports</a></li>
	            <li><a href="#">Analytics</a></li>
	            <li><a href="#">Export</a></li>
	          </ul>  
	 </div> 
	 
	 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	 	 <%= yield %>
	 	</div>  	   
	 	   
	 	      
 <%end%>	           
 

</body>
</html>
